<div class="row">
  <div class="col-md-4">
    <div class="card bg-dark">
      <div class="card-header text-white">Tasks</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let routine of Model.Routine" class="list-group-item" (click)="selectTask($event, routine)">
          {{routine}}
        </li>
      </ul>
    </div>
  </div>

  <div class="list-group col-md-8">
    <div class="card bg-dark">
      <div class="card-header text-white">
        Chossen Task
      </div>
      <ul class="list-group list-group-flush ">
        <li *ngFor="let routine of Model.ChossenTask" class="list-group-item" class="list-group-item d-flex justify-content-between align-items-center">
            {{routine.Task}}
            <span class="badge badge-light">{{routine.UserName}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-info">
      <div class="card-header">Users</div>
      <ul class="list-group list-group-flush">
          <li *ngFor="let user of Model.Users" class="list-group-item">
            <img style="height: 16px; width: 16px" class="rounded">
            {{user.Name}}
          </li>
      </ul>
     </div> 
  </div>
  <div class="col-md-8">
    <div class="card bg-success">
      <div class="card-header">Completed Task</div>
      <ul class="list-group list-group-flush">
          <li *ngFor="let routine of Model.Completed" class="list-group-item">
              {{routine.UserName}} : {{routine.Task}}
          </li>
      </ul>
     </div> 
  </div>
</div>
  
