<div class="row">
  <div class="col-md-4">
    <div class="card bg-dark">
      <div class="card-header text-white">Tasks</div>
      <ul class="list-group list-group-flush routine">
        <li *ngFor="let routine of Me.Routines" 
            (click)="selectTask($event, routine)"
            class="list-group-item " >
            {{routine}}
        </li>
      </ul>
    </div>
  </div>

  <div class="list-group col-md-8">
    <div class="card bg-warning">
      <div class="card-header text-white">
        Chosen Task
      </div>
      <ul class="list-group list-group-flush ">
        <li *ngFor="let routine of Model.ChosenTask"
            class="list-group-item d-flex justify-content-between align-items-center">
            {{routine.Task}} 
            <span  class="badge badge-primary">{{routine.UserName}}</span>
            <button class="btn btn-success btn-sm" (click)="chooseTask($event, routine)">choose</button>
            
        </li>
      </ul>
    </div>

    <div class="card">
        <img class="card-img" *ngIf="Model.Picture" [src]="Model.Picture.url" />
        <div class="card-img-overlay" style="text-align: center">
            <button class="btn btn-success btn-lg" (click)="flipPicture($event)"> Flip  the Picture </button>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-info">
      <div class="card-header">Users</div>
      <label for="typeahead-focus">Search for a User:</label>
      <input
      id="typeahead-focus"
      type="text"
      class="form-control"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      (focus)="focus$.next($event.target.value)"
      (click)="click$.next($event.target.value)"
      #instance="ngbTypeahead"
      />
      <ul class="list-group list-group-flush">
          <li *ngFor="let user of Model.Users" class="list-group-item">
            <img style="height: 16px; width: 16px" class="rounded">
            {{user.Name}}
            <i class="badge float-right" [ngClass]="user.UserId == this.Me.Name">
                  {{user.Score}}
            </i>        
          </li>
      </ul>
     </div> 
  </div>
  <div class="col-md-8">
    <div class="card bg-success">
      <div class="card-header">Completed Task</div>
      <ul class="list-group list-group-flush">
          <li *ngFor="let routine of Model.Completed" class="list-group-item">
              {{routine.UserName}} : {{routine.Task}}
          </li>
      </ul>
     </div> 
  </div>
</div>
  
