<div class="row">
  <div class="col-md-8">
    <div class="card bg-dark">
      <div class="card-header text-white">Everyday Task</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let routine of Model.Routine" class="list-group-item">
          {{routine}}
        </li>
      </ul>
    </div>
  </div>

  <div class="list-group col-md-4">
    <div class="card bg-dark">
      <div class="card-header text-white">
        Completed Task
      </div>
      <ul class="list-group list-group-flush ">
        <li *ngFor="let routine of Model.Completed" class="list-group-item">
          {{routine.UserName}} : {{routine.Task}}
        </li>
      </ul>
    </div>
  </div>
</div>
  
